@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    background-color: black;
    color: aqua;
    font-family: 'Roboto', sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
}

a{
    text-decoration: none;
    color: aqua;
}

a:hover{
    text-decoration: none;
    color: white;
}

#pagesList{
    display: flex;
    list-style: none;
    padding-left: 0;
    width: 50%;    
    justify-content: space-evenly;    
    margin: 0 auto;
}

#bioBox > p{
    width: 33%;    
    color: white;
}